@model User
@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("~/Views/Shared/_Navbar.cshtml")
<div class="w-100 p-4">


    <div class="container mt-12">
        <div class="row justify-content-center pb-4">
            <div class="col-7 mx-5">
                <div id="carouselId" class="carousel slide crsl-ctr" data-bs-ride="carousel">
                    <ol class="carousel-indicators crsl-idr" >
                        <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
                        <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                        <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
                    </ol>
                    <div class="carousel-inner rounded" role="listbox" style="overflow: hidden;">
                        <div class="carousel-item active" style="transition: transform 0.6s ease;">
                            <img src="~/images/blulok.jpg" class="w-100 h-100 d-block crsl-img" alt="blu lok"  />
                        </div>
                        <div class="carousel-item" style="transition: transform 0.6s ease;">
                            <img src="~/images/_bsd.jpg" class="w-100 h-100 d-block crsl-img" alt="Second slide" />
                        </div>
                        <div class="carousel-item" style="transition: transform 0.6s ease;">
                            <img src="~/images/kgy.jpg" class="w-100 h-100 d-block crsl-img" alt="Third slide" />
                        </div>
                    </div>
                    <button class="carousel-control-prev crsl-btn-p" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next crsl-btn-n" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-4">
                    <img src="~/images/_bsd.jpg" class="w-100 d-block rounded img-hme" alt="blu lok" />
                </div>
                <div class="mt-4 rounded">
                    <img src="~/images/kgy.jpg" class="w-100 d-block rounded img-hme" alt="blu lok" />
                </div>
            </div>
        </div>
        <div class="container pt-12 text-center pb-4 pt-3">
            <div class="row justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/images/icons/romance.png" alt="Romance" class="pb-1"/>
                            <p>Romance</p>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/images/icons/action.png" alt="Action" class="pb-1" />
                            <p>Action</p>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/images/icons/sports.png" alt="Sports" class="pb-1" />
                            <p>Sports</p>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/images/icons/sf.png" alt="Sci-Fi" class="pb-1" />
                            <p>Sci-Fi</p>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="#" class="text-decoration-none">
                            <img src="~/images/icons/sol.png" alt="Slice of life" class="pb-1" />
                            <p>Slice of life</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="container pt-12 text-center pb-4">
            <div class="row">
                <div class="d-flex justify-content-between mb-2">
                    <div class="col text-start">
                        <h2 class="text-primary">JRamedia recomendation</h2>
                    </div>
                    <div class="col text-end">
                        <a href="#" class="text-decoration-none h5">See all</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col pb-4">
                        <div class="d-flex shadow prod-otr-ctr prod-card  prod-card ">
                            <a href="#" class="text-decoration-none prod-inr-ctr ">
                                <div class="rounded-end prod-dsc-prctg">20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/kgy1.jpeg"  alt="Kaguya Sama, Love Is War 1" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div>
                                            <p class="prod-athr">Aka Akasaka</p>
                                            <p class="mt-1 prod-ttle">Kaguya Sama, Love Is War 1</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col pb-4">
                        <div class="d-flex shadow prod-otr-ctr prod-card ">
                            <a href="#" class="text-decoration-none prod-inr-ctr">
                                <div class="rounded-end prod-dsc-prctg">20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/hoo5.jpg" alt="The Heroes of Olympus #5: Blood of Olympus" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div>
                                            <p class="prod-athr">Rick Riordan</p>
                                            <p class="mt-1 prod-ttle">The Heroes of Olympus #5: Blood of Olympus</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col pb-4">
                        <div class="d-flex shadow prod-otr-ctr prod-card ">
                            <a href="#" class="text-decoration-none prod-inr-ctr">
                                <div class="rounded-end prod-dsc-prctg">20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/hp.jpg" alt="The Heroes of Olympus #5: Blood of Olympus" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div>
                                            <p class="prod-athr">J.k. Rowling</p>
                                            <p class="mt-1 prod-ttle">Harry Potter And The Order Of The Phoenix - Ravenclaw</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col pb-4">
                        <div class="d-flex shadow prod-otr-ctr prod-card ">
                            <a href="#"  class="text-decoration-none prod-inr-ctr">
                                <div class="rounded-end prod-dsc-prctg">20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/bsd7.jpg" alt="Bungo Stray Dogs 07" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div style="margin: 0;">
                                            <p class="prod-athr" >Asagiri Kafka, Harukawa Sango</p>
                                            <p  class="prod-ttle mt-1">Bungo Stray Dogs 07</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col pb-4">
                        <div class="d-flex shadow prod-otr-ctr prod-card ">
                            <a href="#" class="text-decoration-none prod-inr-ctr">
                                <div class="rounded-end prod-dsc-prctg" >20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/bl12.jpg" alt="Blue Lock 12" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div style="margin: 0;">
                                            <p class="prod-athr" >Muneyuki Kaneshiro, Yusuke Nomura</p>
                                            <p  class="prod-ttle mt-1">Blue Lock 12</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col pb-4">
                        <div  class="d-flex shadow prod-otr-ctr prod-card ">
                            <a href="#"  class="text-decoration-none prod-inr-ctr">
                                <div class="rounded-end prod-dsc-prctg" >20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/btcgc.jpg"  alt="Kōhī Ga Samenai Uchi Ni---Before the Coffee Gets Cold" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div style="margin: 0;">
                                            <p class="prod-athr" >Toshikazu Kawaguchi</p>
                                            <p class="prod-ttle mt-1">Kōhī Ga Samenai Uchi Ni---Before the Coffee Gets Cold</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-12 text-center pb-3">
            <div class="row">
                <div class="d-flex justify-content-between mb-2">
                    <div class="col text-start">
                        <h2 class="text-primary">Favorite book</h2>
                    </div>
                    <div class="col text-end">
                        <a href="#" class="text-decoration-none h5">See all</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col pb-4">
                        <div   class="d-flex shadow prod-otr-ctr prod-card ">
                            <a href="#"   class="text-decoration-none prod-inr-ctr">
                                <div class="rounded-end prod-dsc-prctg" >20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/tow.jpg"   alt="The Art Of War" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div style="margin: 0;">
                                            <p class="prod-athr"  >Sun Tzu</p>
                                            <p  class="prod-ttle mt-1">The Art Of War</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col pb-4">
                        <div   class="d-flex shadow prod-otr-ctr prod-card ">
                            <a href="#"  class="text-decoration-none prod-inr-ctr">
                                <div class="rounded-end prod-dsc-prctg"  >20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/nge.jpg"   alt="AKASHA : Neon Genesis Evangelion - Collector's Edition 01" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div style="margin: 0;">
                                            <p class="prod-athr"  >Yoshiyuki Sadamoto/khara/ Gainax</p>
                                            <p  class="prod-ttle mt-1">AKASHA : Neon Genesis Evangelion - Collector's Edition 01</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col pb-4">
                        <div  class="d-flex shadow prod-otr-ctr prod-card ">
                            <a href="#"   class="text-decoration-none prod-inr-ctr">
                                <div class="rounded-end prod-dsc-prctg"  >20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/ij.jpg"   alt="AKASHA : Ito Junji Compilation 03 - Souichi's Convenient Curses" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div style="margin: 0;">
                                            <p class="prod-athr"  >Ito Junji</p>
                                            <p  class="prod-ttle mt-1">AKASHA : Ito Junji Compilation 03 - Souichi's Convenient Curses</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col pb-4 ">
                        <div   class="d-flex shadow prod-otr-ctr prod-card ">
                            <a href="#"   class="text-decoration-none prod-inr-ctr">
                                <div class="rounded-end prod-dsc-prctg"  >20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/hg.jpg"   alt="The Hunger Games 3: Mockingkjay" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div style="margin: 0;">
                                            <p class="prod-athr"  >Suzanne Collins</p>
                                            <p  class="prod-ttle mt-1">The Hunger Games 3: Mockingkjay</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col pb-4">
                        <div   class="d-flex shadow prod-otr-ctr prod-card ">
                            <a href="#"   class="text-decoration-none prod-inr-ctr">
                                <div class="rounded-end prod-dsc-prctg"  >20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/pj.jpg"   alt="Percy Jackson #5: The Last Olympian" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div style="margin: 0;">
                                            <p class="prod-athr"  >Rick Riordan</p>
                                            <p  class="prod-ttle mt-1">Percy Jackson #5: The Last Olympian</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col pb-4">
                        <div   class="d-flex shadow prod-otr-ctr prod-card ">
                            <a href="#"   class="text-decoration-none prod-inr-ctr">
                                <div class="rounded-end prod-dsc-prctg"  >20%</div>
                                <div>
                                    <img class="rounded prod-img" src="~/images/wotakoi.jpg"  alt="Akasha: Wotakoi - Love is Hard for Otaku 7" />
                                </div>
                                <div class="p-2">
                                    <div class="text-start">
                                        <div style="margin: 0;">
                                            <p class="prod-athr"  >FUJITA</p>
                                            <p  class="prod-ttle mt-1">Akasha: Wotakoi - Love is Hard for Otaku 7</p>
                                        </div>
                                    </div>
                                    <div class="text-start">
                                        <p class="h4 text-primary">Rp 36.000</p>
                                        <div>
                                            <p class="text-decoration-line-through fst-italic text-secondary">Rp 36.000</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
