@using JRamedia.Models
@model IEnumerable<Category> 
@{
    ViewData["Title"] = "Index";
}

@Html.Partial("~/Views/Shared/_Navbar.cshtml")
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6 pb-1">
            <h2 class="text-primary">Category List</h2>
        </div>
        @if(CurrUser.Role == "admin")
        {
            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-prim">Add</a>
            </div>
        }
        <hr />

    </div>
    <br />
    <br />


    @foreach(var obj in Model)
    {
        @await Html.PartialAsync("~/Views/Shared/_Category.cshtml", obj)
    }


</div>