<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JRamedia</title>
    <link rel="stylesheet" href="~/css/BootsWatch.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="">
        <main role="main" class="pb-3 w-100">

            <partial name="_Notification"></partial>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="py-5 px-5" name="footer-top" style="background-color: #BED7DC;">
            <div class=" row d-flex">
                <div class="col justify-content-center px-5">
                    <h2 class="text-primary display-6 text-center">Special offer from us just for you</h2>
                </div>
                <div class="col">
                    <div class="input-group input-group-lg">
                        <input style="background-color: white;" type="text" class="form-control tb" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                      <button class="input-group-text text-primary btn-prim" id="inputGroup-sizing-lg">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-mid" style="text-align: start;" class="py-5 container">
            <ul style="list-style-type: none; padding: 0; margin: 0; display: flex; justify-content: space-between;">
                <li style="vertical-align: top;">
                    <h3>JRamedia Product</h3>
                    <a href="#" style="display: block; text-decoration: none;">JRamedia Affiliate</a>
                    <a href="#" style="display: block; text-decoration: none;">JRamedia Partner</a>
                </li>
                <li style="vertical-align: top;">
                    <h3>Shopping</h3>
                    <a href="#" style="display: block; text-decoration: none;">Shop</a>
                    <a href="#" style="display: block; text-decoration: none;">Payment</a>
                    <a href="#" style="display: block; text-decoration: none;">Shipping</a>
                </li>
                <li style="vertical-align: top;">
                    <h3>About JRamedia</h3>
                    <a href="#" style="display: block; text-decoration: none;">About Us</a>
                    <a href="#" style="display: block; text-decoration: none;">Our Store</a>
                    <a href="#" style="display: block; text-decoration: none;">Partnership</a>
                </li>
                <li style="vertical-align: top;">
                    <h3>Others</h3>
                    <a href="#" style="display: block; text-decoration: none;">Terms and Condition</a>
                    <a href="#" style="display: block; text-decoration: none;">Privacy and Policy</a>
                    <a href="#" style="display: block; text-decoration: none;">Helps</a>
                    <a href="#" style="display: block; text-decoration: none;">Contact US</a>
                </li>
                <li style="vertical-align: top;">
                    <h3>Mobile Application</h3>
                    <div>
                        <p>Download <b>JRamedia</b> application on iOS and Android device</p>
                    </div>
                </li>
            </ul>
        </div>
        <div name="footer-bot py-5">
            <div class="text-center">
                <h2>Biggest one stop book store in Indonesia</h2>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>
