:root {
    --primary: #008DDA;
    --primary2: #3fa2d9;
    --secondary: #6AD4DD;
    --secondary2: #63bac2;
    --accent: #97E7E1;
    --accent2: #7AA2E3;
    --main: #F8F6E3;
    --white: #ffffff;
    --black: #1F2937;
    --text: #6B7280;
    --red: #D80032;
    --red2: #C70039;
}


body {
    background-color: var(--white);
}


h1, h2, h3, h4, h5, h6, p {
    color: var(--text);
}


a {
    text-decoration: none;
    color: var(--text);
}

/*general start*/
.center{
    display: flex;
    justify-content: center;
    align-content: center;
}
/*general end*/




/*button start*/
.btn-prim {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);
    transition: background-color 0.3s ease-in-out;
}   

    .btn-prim:active {
        background-color: var(--primary2);
        border-color: var(--primary2);
        color: var(--white);
    }

    .btn-prim:focus {
        background-color: var(--primary2);
        border-color: var(--primary2);
        color: var(--white);
    }

    .btn-prim:hover {
        background-color: var(--primary2);
        border-color: var(--primary2);
        color: var(--white);
    }


.btn-sec {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: black;
}

    .btn-sec:active {
        background-color: var(--secondary2);
        border-color: var(--secondary2);
        color: black;
    }

    .btn-sec:focus {
        background-color: var(--secondary2);
        border-color: var(--secondary2);
        color: black;
    }

    .btn-sec:hover {
        background-color: var(--secondary2);
        border-color: var(--secondary2);
        color: black;
    }
/*button end*/

.tb {
    background-color: #ffffff;
    color: #073642;
    border-color: var(--black);
}

    .tb:focus {
        background-color: #ffffff;
        color: #073642;
        box-shadow: 0 0 0 0.25rem rgba(122, 162, 227, 0.25);
    }

.cb {
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--primary);
    background-image: var(--bs-form-check-bg-image);
    border: 1px solid #fff;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    print-color-adjust: exact;
}

.inp-file {
    color: var(--text); 
    border-color: var(--primary);
}

    .inp-file:hover {
        backgreound-color: var(--primary2);
    }

/*input start*/

/*navbar*/
.nb {
    min-height: 75px;

    background-color: var(--white);
}

.inp-nb{
    border-color: var(--black);
    border-width: 0.15px;
}

.btn-lo {
    background-color: var(--red);
    transition: background-color 0.3s ease-in-out;
}

    .btn-lo:hover {
        background-color: var(--red2);
    }

/*navbar end*/

/*carousel start*/
.crsl-ctr {
    max-width: 800px;
    min-width: 800px;
    min-height: 500px
}

.crsl-idr {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.crsl-img {
    max-height: 500px;
    min-height: 500px;
}

.crsl-btn-p {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.crsl-btn-n {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/*carousel end*/

/*img start*/
.img-hme {
    min-height: 240px;
}
/*img end*/


/*card start*/

.price{
    color: var(--accent2);
}

.prod-otr-ctr {
    max-width: 175px;
    min-height: 475px;
    max-height: 475px;
}

.prod-inr-ctr {
    position: relative;
    display: inline-block;
}

.prod-dsc-prctg {
    background-color: rgba(255,255,255);
    min-width: 30%;
    position: absolute;
    top: 0;
}

.prod-img {
    max-height: 270px;
    max-width: 175px;
    min-height: 270px;
}

.prod-ttle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.prod-athr {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.prod-card{
    background-color: whitesmoke;
}

/*card end*/


/*footer start*/

.inp-ftr{
    background-color: var(--white);
    border-color: var(--white);
}

.btn-ftr{
    color:var(--white);

}

/*footer end*/


/*category start*/

.category {
    color: var(--white);
    background: rgb(91,126,213);
    background: linear-gradient(90deg, rgba(91,126,213,1) 0%, rgba(94,190,199,1) 50%, rgba(255,255,255,1) 100%);
    
}

/*category end*/

/*details start*/
.img-ctr-detail{
    margin-right: 45px;
}
.img-detail {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.img-box {
    width: 250px; /* Adjust width as needed */
    height: 365px; /* Adjust height as needed */
    padding: 15px; /* Add padding to create space for shadow */
    box-shadow: 0 0 44px 1px rgba(0, 0, 0, 0.2); /* Spread shadow from div border */
    -webkit-box-shadow: 0 0 24px 14px rgba(0, 0, 0, 0.2); /* For older versions of webkit browsers */
    -moz-box-shadow: 0 0 24px 14px rgba(0, 0, 0, 0.2); /* For older versions of Firefox */
}

.bar-dtl {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distribute items equally */
    align-items: center; /* Align items vertically */
}

.a-dtl{
    margin-right:25px;
}

.desc-dtl {
    max-width: 90%;
    text-align: justify;
}

.li-dtl {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

.li-item{
    display: flex;
}

.format-dtl-item{
    min-width: 180px;
    max-width: 180px;
}

.format-btn-dtl-inner {
    justify-content: flex-start; /* Align content to the start */
    text-align: start;
}

.format-btn-dtl {
    min-width: 100%;
    max-width: 100%;
    text-align: start;
}

/*details start*/