
@{
    ViewData["Title"] = "Login";
}
<div class="parent-container pt-4">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <p>Dont have an account? <a asp-controller="Auth" asp-action="Register">Sign up here!</a></p>
            <button class="btn btn-primary w-100">Sign In</button>
        </form>
    </div>
</div>