@model User
@{
    ViewData["Title"] = "Login";
}
<div class="parent-container pt-4">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <form method="post" asp-controller="Auth" asp-action="Login">
            <div class="mb-3">
                <label asp-for="Email" for="Email" class="form-label">Email</label>
                <input asp-for="Email" type=" Email" class="form-control tb" id="email" aria-describedby="emailHelp">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" for="Password" class="form-label">Password</label>
                <input asp-for="Password" type="password" class="form-control tb" id="password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" asp-for="KeepLoggedIn" class="form-check-input cb" id="KeepLoggedIn">
                <label class="form-check-label" for="KeepLoggedIn">Keep me logged in</label>
            </div>
            <p>Don't have an account? <a asp-controller="Auth" asp-action="Register">Sign up here!</a></p>
            <button type="submit" class="btn btn-prim w-100 btn-ftr">Sign In</button>
        </form>
    </div>
</div>